
@{
    ViewData["Title"] = "About Us";
}
<h1>About Us</h1>
<p>
    “A room without books is a body without soul”, a very well saying by Marcus Tullies Cicero depicts the beautiful relation of human with book. Books play a very beautiful role to a person who has achieved
    and wants to achieve something in their life. The first thing we hand to a child after he/she comes up to the age of studying are books and that’s why books are one of the most widely bought things in the
    world. If you have a habit of learning books, then you might want to go through myriads of collection of books of different category;
    be it novel, autobiography or children’s book in any genre: thriller, comedy, romance etc.
    Bookstore.com can give you full satisfaction with its wide range of Popular English, Nepali, 
    Novels Books in different categories from famous authors. You can find books from many national writers and international
    authors as well, online at our own costumer friendly online shopping store OKdam.com at discounted prices.
</p>

